<!DOCTYPE HTML5>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/css/mdb.css" />

  <title>Welcome to my first app!</title>
</head>

<body>

  <hr />
  <div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-lg-offset-4">
        <h1>Welcome to my first app!</h1>
        <h3>Please click the button below to begin!</h3>
        <a href="http://127.0.0.1:8000"><button class="btn btn-default wave-effect">Continue</button></a>
      </div>
    </div>
  </div>

  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/tether.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/mdb.js"></script>

</body>
</html>
