<!DOCTYPE HTML5>
<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/bootstrap-theme.css" />

  <title>Welcome to my first app!</title>
</head>

<body>
  <div class="container-fluid" style="text-align: center;">
    <div class="row">
      <div class="col-lg-offset-4">
        <h1>Welcome to my first app!</h1>
        <h3>Please click the button below to begin!</h3>
        <button class="btn btn-default"><a href="http://127.0.0.1:8000">Continue</a></button>
      </div>
    </div>
  </div>


  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>
