<!DOCTYPE HTML5>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/css/mdb.css" />
  <link rel="stylesheet" href="../static/css/style.css" />

  <title>The WHSE, LLC. AIO</title>
</head>

<body>
  <hr />
  <div class="flex-center">
    <div class="row">
      <div class="col-lg-offset-4 fadeInUpBig">
        <h1>Welcome to The WHSE, LLC.</h1>
        <h3>Please click the button below to begin!</h3>
        <center>
            <a href="http://127.0.0.1:8000"><button class="btn btn-danger wave-effect">Continue</button></a>
        </center>

      </div>
    </div>
  </div>

  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/tether.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/mdb.js"></script>

</body>
</html>
